<div class="device-table">
  <div class="device-table-header">
    Device List
    <span class="device-table-header-icon">
      <mat-icon [matMenuTriggerFor]="tableMenu">more_horiz</mat-icon>
    </span>
    <mat-menu #tableMenu="matMenu">
      <button mat-menu-item>Item 1</button>
      <button mat-menu-item>Item 2</button>
    </mat-menu>
  </div>
  <div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">No.</th>
        <th scope="col">User name</th>
        <th scope="col">User role</th>
        <th scope="col">Location</th>
        <th scope="col">Status</th>
        <th scope="col">Device</th>
        <th scope="col">Version no.</th>
        <th scope="col">Battery</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>mdo</td>
        <th>1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>mdo</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>fat</td>
        <th>1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>mdo</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Larry</td>
        <td>the Bird</td>
        <td>twitter</td>
        <th>1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>mdo</td>
      </tr>
    </tbody>
  </table>
</div>
</div>