.example-fill-remaining-space {
    /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
}

.title-text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18pt;
    margin-bottom: 1rem;
}

.dropdown-button-wrapper {
    border: 1.5px solid #aaa;
    border-radius: 8px;
    padding: 0.3rem;
    float: right;
}

.home-padding {
    padding: 2rem;
    padding-top: 4rem;
}

.card-block {
    margin-top: 1.5rem;
}

.card-alignmnet {
    text-align: center;
}

.active-device-count {
    font-size: 44px;
    font-weight: bold;
    margin-left: 1rem;
}

.active-device-type{
    margin-top: 0.5rem;
}

.device-title{
    font-weight: bold;
}

.device-data{
    color: #626;
    margin-top: 0.5rem;
}

.device-title mat-icon{
    vertical-align: bottom;
}